@import "/src/index.scss";
.inner{
    width:100%;
    max-width:600px;
    min-width:320px;
    margin:0 auto;
    padding:10px 0;
    overflow:hidden;
}
.inner > ul{
    width:100%;
    max-width:600px;
    padding-bottom:10px;
    margin:0 auto 10px;
    border-bottom:1px solid #727272
}
.introtable{
    width:100%;
    padding:5px 0;
}
.introtable > *:not(p){
    display:table-cell;
    vertical-align: middle;;
}
.col_puple{
    color:#89308e;
}
.col_pink{
    color:#ff8ad0;
}
.col_mint{
    color:#09dab3;
}
.col_sky{
    color:#3885cd;
}
.subtitle{
    font-size:15px;
    font-weight:600;
    color:#ed4d8f;
  }
  .bgPink{
    background:#ed4d8f;
  }
.txt_point{
    float:right;
    position:relative;
    display:inline-block;
    vertical-align: middle;
    padding:0 3px;
    font-weight:900;
}
.txt_point:after{
    position:absolute;
    display:block;
    content:'';
    width:3px;
    height:3px;
    border-radius: 50%;
    background:#ec708d;
    left:-1px;
    bottom:3px;
    animation: bounce 0.6s infinite alternate;
}
.intro_txt{
    display:inline-block;
    vertical-align: middle;
    word-break: keep-all;
    @include padding-set(10px,'left')
}
.workli{
    padding:10px 0;
    border-bottom:1px solid #ddd;
}
.workli:last-child{
    border-bottom:none
}
.bold{
    font-weight:600
}
.workli > p {
    margin-bottom:2px;
}
.linkBtn{
    display:inline-block;
    padding:2px 4px;
    background:#fce0f1;
}
.detail_list{
    padding:10px;
}
.detail_list li{
    padding-left:15px;
}
@keyframes bounce{
    to{
        transform: translateY(-8px);
    }
}
@media screen and (max-width:520px) {
    .table_wrap{
        width:100%;
    }
}






