.worklist{
    margin:0 auto;
}
.worklist li{
    float:left;
    width:calc(33.33% - 10px);
    max-height:313px;
    padding:20px; 
    margin:10px 10px 0 0;;
    box-sizing: border-box;
    border-radius:10px;
    background:#ffffff;
}
.worklist .title{
    font-size:13px;
    font-weight: bold;
}
.worklist li > p,
.worklist li > .title{
    display:inline-block;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info_wrap{
    height:0;
    overflow:hidden;
}
.detailBtn{
    position:relative;
    padding:3px 5px;
    margin-left:-5px;
    color:#3a3a3a;
    cursor: pointer;
    z-index: 0;;
    transition:all .5s;
}
.detailBtn:after{
    position:absolute;
    width:0%;
    height:100%;
    content:'';
    display:block;
    top:0;
    left:0;
    background:#ed4d8f;
    transition:all .5s;
    z-index: -1;
}
.detailBtn:hover:after,
.detailBtn:active:after{
    width:100%;
}
.detailBtn:hover{
    color:#ffffff;
}

.popupBg{
    position:fixed;
    display:table;
    top:0;
    left:0;
    width:100%; 
    height:100%;
    background:rgba(0,0,0, 0.5);
    transition:all .5s;
}
.popupBg.active{
}
.popupWrap{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}
.popupContent{    
    background:#ffffff;
    width:100%;
    max-width:400px;
    height:auto;
    max-height:400px;
    min-height:200px;
    margin:0 auto;
    border-radius: 25px;
}
.popupHeader{
    overflow:hidden;
    padding:20px;
    margin:0 0 10px 0;
    box-shadow: 0 5px 5px rgba(0,0,0, 0.1);
}

.title{
    font-size:20px;
    font-weight: 600;
}
.popupClose{
    display:inline-block;
    vertical-align: middle;
    background:none;
    border:none;
    font-size:20px;
    cursor: pointer;
}
.popupTxt{
    padding:20px;
    text-align:left;
}
.subInfo{
    font-size:12px;
}
.subTxt{
    margin-top:10px;
}
@media screen and (max-width:1024px) {
    .worklist li{
        max-height:300px;
    }
}
@media screen and (max-width:678px) {
    .worklist li{
        width:calc(50% - 10px);
        height:auto;
        max-height:500px;
    }
}
@media screen and (max-width:500px) {
    .worklist li{
        float:none;
        width:100%;
    }
}