.worklist{
    margin:0 auto;
}
.worklist li{
    float:left;
    width:50%;
    border-bottom:1px solid #dddddd;
    padding:20px; 
    box-sizing: border-box;
}
.worklist li:hover{
    background: #fef2f4;
}
.worklist .title{
    font-size:13px;
    font-weight: bold;
}
.info_wrap{
    height:0;
    overflow:hidden;
}

@media screen and (max-width:460px) {
    .worklist li{
        float:none;
        width:100%;
    }
}