.section{
  width:100%;
  min-width:450px;
  margin:0 auto;
}
.wrap{
  position: relative;
  display: block;
  box-sizing: border-box;
}
.inner{
  width:100%;
  max-width:1100px;
  min-width:450px;
  margin:0 auto;
  padding:10px 0;
  overflow:hidden;
}
.w_50{
  width:50%;
}

.fl{
  float:left;
}
.fr{
  float:right;
}
.content{
  padding:0 10px;
}
.header{
  padding:0 10px;
}
.nav{
  display:table;
  width:auto;
  margin:0 auto;
}
.nav li{
  display:table-cell;
  margin-right:20px;
  cursor:pointer;
}
.nav li:last-child{
  margin-right:0;
  border-right:none;
}
.nav-link{
  display:block;
  width:100%;
  height:100%;
  padding:10px 20px;
  
}
.nav-link.active{
  font-weight:600
}
.nav-link:after{
  position:absolute;
  display: block;
  left:0;
  bottom:0;
  width:0%;
  height:3px;
  content:'';
  background:#fdc6d3;
}
.nav-link:hover:after{
  width:100%;
  transition: all 0.3s;
}
.footer{
  padding:10px 10px;
  border-top:1px solid #eeeeee;
  background:#eeeeee;
  text-align:left
}

/*margin*/
.mgt10{margin-top:10px;}
.mgb10{margin-bottom:10px;}
.mgr10{margin-right:10px;}
.mgl10{margin-left:10px;}
.mgt20{margin-top:20px;}
.mgb20{margin-bottom:20px;}
.mgr20{margin-right:20px;}
.mgl20{margin-left:20px;}

/*text css*/
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}

.sub_title{
  margin:10px auto 5px;
  font-size:15px;
  font-weight:600
}