
.section{
  width:100%;
  min-width:320px;
  margin:0 auto;
}
.wrap{
  position: relative;
  display: block;
  width:100%;
  box-sizing: border-box;
}
.inner{
  width:100%;
  max-width:1100px;
  min-width:320px;
  margin:0 auto;
  padding:10px 0;
  overflow:hidden;
}
.bg_bage{
  background:#fcf4eb
}
.w_100{
  width:100%;
}
.w_70{
  width:70%;
}
.w_60{
  width:60%;
}
.w_50{
  width:50%;
}
.w_40{
  width:40%;
}
.w_30{
  width:30%;
}
.overhidden{
  overflow:hidden
}
.fl{
  float:left;
}
.fr{
  float:right;
}
.border_l{
  border-left:2px solid #ed4d8f;
}
.content{
  padding:0 10px;
}
.footer{
  padding:10px 10px;
  border-top:1px solid #eeeeee;
  background:#eeeeee;
  text-align:left;
}
.footer p {
  text-align:right;
  color:#a7a7a7;
}

.style_dash li{
  position:relative;
  padding-left:12px;
}
.style_dash li:after{
  position:absolute;
  display:block;
  width:7px;
  height:1px;
  background:#d79db5;
  left:0;
  top:calc(50% - 1px);
  content:'';
}

/*text css*/
.tc{text-align:center; word-break: keep-all;}
.tl{text-align:left;}
.tr{text-align:right;}

@mixin margin-set($num , $type){
  @if($type == 'top'){
    margin-top:$num;
  }@else if($type == 'left'){
    margin-left:$num;
  }@else if($type == 'bottom'){
    margin-bottom:$num;
  }@else if($type == 'right'){
    margin-right:$num;
  }
}
@mixin padding-set($num , $type){
  @if($type == 'top'){
    padding-top:$num;
  }@else if($type == 'left'){
    padding-left:$num;
  }@else if($type == 'bottom'){
    padding-bottom:$num;
  }@else if($type == 'right'){
    padding-right:$num;
  }
}

@media (max-width:520px) {
  .App{
    width:100%;
    margin:0 auto;
  }
  .contetn{
      padding:0;
      margin:0 auto;
  }
}
