.section{
  width:100%;
  min-width:320px;
  margin:0 auto;
}
.wrap{
  position: relative;
  display: block;
  width:100%;
  box-sizing: border-box;
}
.inner{
  width:100%;
  max-width:1100px;
  min-width:320px;
  margin:0 auto;
  padding:10px 0;
  overflow:hidden;
}
.w_60{
  width:60%;
}
.w_50{
  width:50%;
}
.w_40{
  width:40%;
}
.w_30{
  width:30%;
}
.overhidden{
  overflow:hidden
}
.fl{
  float:left;
}
.fr{
  float:right;
}
.border_l{
  border-left:2px solid #ed4d8f;
}
.content{
  padding:0 10px;
}
.footer{
  padding:10px 10px;
  border-top:1px solid #eeeeee;
  background:#eeeeee;
  text-align:left;
}
.footer p {
  text-align:right;
  color:#a7a7a7;
}

.style_dash li{
  position:relative;
  padding-left:12px;
}
.style_dash li:after{
  position:absolute;
  display:block;
  width:7px;
  height:1px;
  background:#d79db5;
  left:0;
  top:calc(50% - 1px);
  content:'';
}

/*margin*/
.mgt0{margin-top:0px;}
.mgt10{margin-top:10px;}
.mgb10{margin-bottom:10px;}
.mgr10{margin-right:10px;}
.mgl10{margin-left:10px;}
.mgt20{margin-top:20px;}
.mgb20{margin-bottom:20px;}
.mgr20{margin-right:20px;}
.mgl20{margin-left:20px;}

/*padding*/
.pdt10{padding-top:10px;}
.pdb10{padding-bottom:10px;}
.pdr10{padding-right:10px;}
.pdl10{padding-left:10px;}
.pdt20{padding-top:20px;}
.pdb20{padding-bottom:20px;}
.pdr20{padding-right:20px;}
.pdl20{padding-left:20px;}

/*text css*/
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}



@media screen and(max-width:520px) {
  .App{
    width:100%;
    margin:0 auto;
  }
  .contetn{
      padding:0;
      margin:0 auto;
  }
}
